<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
            <b style="color: black;">{{ site.author | escape }}</b>
            {% else %}
            <b style="color: black;">{{ site.title | escape }}</b>
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>


     <div class="footer-col footer-col-2">
	   <ul style="list-style-type:none">
	     <li>
		   {% if site.description %}
              <b style="color: black;">{{ site.description | escape }}</b>
           {% endif %}
		   </li>
		   <li>
		   {% if site.description2 %}
              <i style="color: black;">{{ site.description2 | escape }}</i>
           {% endif %}
		   </li>
      </ul>
	  </div>

     <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
              <a href="https://github.com/{{ site.github_user }}">
                 <span class="soc-icon">
                  <img src="../assets/img/YumaIcon.png" alt="githuc icon"/>
                </span>
              </a>
          </li> 
      	  {% endif %}
          {% if site.twitter_username %}
          <li>
              <a href="https://twitter.com/{{ site.github_user }}">  
              <b>{{ "Twitter" | escape }}</b>
          </li>
	  {% endif %}
	  {% if site.researchgate %}
          <li>
              <a href="https://www.researchgate.net/profile/{{ site.researchgate }}">  
              <b>{{ "Researchgate" | escape }}</b>
          </li>
	  {% endif %}
          {% if site.googlescholar %}
          <li>
              <a href="https://scholar.google.com.au/citations?user={ site.googlescholar }}">  
              <b>{{ "GoogleShcolar" | escape }}</b>
          </li>
	  {% endif %}
          {% if site.orcid%}
          <li>
              <a href="https://orcid.org/{ site.orcid }}">  
              <b>{{ "Orcid" | escape }}</b>
          </li>
	  {% endif %}
		
        </ul>
      </div>    
      
  </div>

</footer>
