<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
            <b>{{ site.author | escape }}</b>
            {% else %}
            <b>{{ site.title | escape }}</b>
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <b>{% include icon-github.html username=site.github_username %}</b>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <b>{% include icon-twitter.html username=site.twitter_username %}</b>
          </li>
          {% endif %}

        </ul>
      </div>

      
  </div>

</footer>
